
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Agencia_Ciudad_list' %}">
    Ciudad Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="Nombre">Nombre: </label>
  <input class="form-control col-sm-10" id="Nombre" type="text" name="Nombre" value="{{ object.Nombre }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="idCiudad">idCiudad: </label>
  <input class="form-control col-sm-10" id="idCiudad" type="text" name="idCiudad" value="{{ object.idCiudad }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}