
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Agencia_Imagen_list' %}">
    Imagen Listing
    </a>
</p>
    
<table class="table">
    <tr><td>FechaCreado</td><td>{{ object.FechaCreado }}</td></tr>
    <tr><td>Ruta</td><td>{{ object.Ruta }}</td></tr>
    <tr><td>Nombre</td><td>{{ object.Nombre }}</td></tr>
    <tr><td>idImagen</td><td>{{ object.idImagen }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}