
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Agencia_Promocion_list' %}">
    Promocion Listing
    </a>
</p>
    
<table class="table">
    <tr><td>FechaInicio</td><td>{{ object.FechaInicio }}</td></tr>
    <tr><td>idPromocion</td><td>{{ object.idPromocion }}</td></tr>
    <tr><td>Nombre</td><td>{{ object.Nombre }}</td></tr>
    <tr><td>PrecioPeso</td><td>{{ object.PrecioPeso }}</td></tr>
    <tr><td>Descripcion</td><td>{{ object.Descripcion }}</td></tr>
    <tr><td>FechaFin</td><td>{{ object.FechaFin }}</td></tr>
    <tr><td>PrecioDolar</td><td>{{ object.PrecioDolar }}</td></tr>
    <tr><td>FechaCreado</td><td>{{ object.FechaCreado }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}